// applies styles to buttons
button {
  width: fit-content;
  height: fit-content;
  background: #ffcd29;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  color: #5e1e43;
  margin: 1em;
  font-size: 1.22em;
  padding: 0.75em;
  &.print {
    @media screen and (min-width: 499px) {
      position: relative;
      top: -2em;
    }
  }

  &:hover {
    filter: invert(1) hue-rotate(45deg);
    transition: all 0.25s ease-in;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }
  &:active {
    filter: hue-rotate(90deg);
    transition: all 0.75s ease-in;
    cursor: pointer;
  }
}
