// defines the confetti div and lets the children inherit these properties
#confetti {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  & > div {
    @extend #confetti;
    position: fixed;
  }
}
