// We should have created a function for this but this file generates random confettis on screen
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  & > div {
    @extend #confetti;
    position: fixed;
  }
}