form {
  div {
    @extend .window-pane;
    background: #a595d94a;
    width: fit-content;
    margin: 1em auto;
    padding: 1rem;
    input {
      background: #b0b30e8c;
      color: #200f0f;
      font-size: 2.2em;
      font-family: "Baloo Thambi 2";
      text-align: center;
      display: flex;
      @media screen and (max-width: 500px){
        font-size:1.2em;
      }
      &::placeholder {
        color: #00f5d4;
      }
    }
  }
}
