// funtions to style our form
form {
  div {
    @extend .window-pane;
    background: #a595d94a;
    width: fit-content;
    margin: 1em auto;
    padding: 1rem;
    a {
     position: absolute;
      @media only screen and (max-width: 499px) {
        top:43%;
        right: 14%;
        height: 1.25em;
        width: 1.25em;
      }
      @media only screen and (min-width: 500px) {
        top: 0;
        right: 0;
      }

      svg {
        @media only screen and (min-width: 500px) {
          height: 3em;
          margin: 1em 1.5em;
        }
        filter: invert(1);
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          filter: invert(0);
        }
      }
    }
    input {
      background: #b0b30e8c;
      color: #200f0f;
      font-size: 2.2em;
      font-family: "Baloo Thambi 2";
      text-align: center;
      display: flex;
      @media screen and (max-width: 500px) {
        font-size: 1.2em;
      }
      &::placeholder {
        color: #00f5d4;
      }
    }
  }
}
