.calendar {
    @media only screen and (min-width: 768px) {
        background: url(../assets/calendar.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
        position: absolute;
        right: 0%;
        top: 0%;
    }
}