.desk_guy {
    @media only screen and (min-width: 768px) {
        background: url(../assets/desk_guy.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        position: absolute;
        right: 5%;
        top: 5%;
    }
}