.heart {
  background: url(../assets/chinguheart.png);
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0.6em;
}
