.juggling_guy {
    @media only screen and (min-width: 768px) {
        background: url(../assets/juggling_guy.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        width: 300px;
        position: absolute;
        right: 35%;
        bottom: 0%;
    }
}