
.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.center {
    align-items: center;;
}

.flex > * {
  width: 33%;
}

@media screen and (max-width: 768px) {
  .flex > * {
    width: 50%;
  }
}

@media screen and (max-width: 499px) {
  .flex > * {
    width: 100%;
  }
}

.margin-sm {
    margin: 2px;
}

.no-list {
  list-style: none;
}

section.game ul > li {
    margin: 1em;
}

section.game ul li div {
    display: flex;
}
