// declares utility style used to place logo on header to the right side in the team page
.right {
  position: absolute;
  top: -5vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s all;
  @media screen and (max-width:1450px){
    position:static;
  }
}
// css to cause our input divs to appear when they are i progress
div[data-completed=false][data-inprogress=true]{
  display: flex;
  flex-wrap: wrap;
}
// css to hide our div inputs when they are no not in porgress
.hide, div[data-completed=true], div[data-inprogress=false] {
    display: none;
}