@media print {
  footer,
  button {
    display: none;
  }

  body {
    text-align: center;
    background-color: white;
    color: black;

    .heading-primary,
    .world {
      display: none;
    }
    section {
      border: 1px ridge rgb(228, 21, 56);
      margin: 0 auto;
      width: 90%;
      padding: 0.5em 1em;
      line-height: 2;
    }

    section p {
      font-size: 20px;
    }

    span {
      visibility: hidden;
      position: relative;
      text-align: center;
      font-size: 0px;
      color: #f70b51;
      display: inline-block;
      line-height: 1.6em;
      &::before {
        visibility: visible;
        position: relative;
        top: 14px;
        bottom: 0;
        min-width: 100px;
        text-align: center;
        border-top: 1px solid #f70b51;
        font-size: 12px;
        color: #f70b51;
        padding: 0px 10px;
        display: inline-block;
        line-height: 1.6em;
        visibility: visible;
        content: attr(placeholder);
      }
    }
  }
}
