@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
body {
  background-color: $color-primary;
}
header {
  color: $color-secondary;
}
.flex {
  display: flex;
}
main {
  text-align: center;
  margin-top: 8em;
  ul.flex.wrap.no-list.center {
    overflow-x: scroll;
    & li {
      list-style: none;
      margin: 1em;
      img {
        border-radius: 100%;
      }
    }
  }
  p {
    font-size: 20px;
    line-height: 31px;
    margin: 4.25em 4em;
    span {
        color: $color-secondary;
        font-weight:bolder;
    }
  }
}



