<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mad Libs Word Game - Chingu Voyage 43 - Group 9</title>
  </head>
  <body>
    <header>
      <h1>Mad Libs</h1>
    </header>
    <main>
      <section>
        <h2>Birthday Party Fun 🎂</h2>
        <form action="story.html">
          <h3>Fill in the blank fields below.</h3>
          <div>
            <label for="personsName1">Person's name: </label>
            <input type="text" name="personsName1" id="personsName1" required />
          </div>
          <div>
            <label for="noun1">Noun: </label>
            <input type="text" name="noun1" id="noun1" required />
          </div>
          <div>
            <label for="adjective1">Adjective: </label>
            <input type="text" name="adjective1" id="adjective1" required />
          </div>
          <div>
            <label for="activity1">Activity: </label>
            <input type="text" name="activity1" id="activity1" required />
          </div>
          <div>
            <label for="verb1">Verb: </label>
            <input type="text" name="verb1" id="verb1" required />
          </div>
          <div>
            <label for="personsName2">Person's name: </label>
            <input type="text" name="personsName2" id="personsName2" required />
          </div>
          <div>
            <label for="noun2">Noun: </label>
            <input type="text" name="noun2" id="noun2" required />
          </div>
          <div>
            <label for="personsName3">Person's name: </label>
            <input type="text" name="personsName3" id="personsName3" required />
          </div>
          <div>
            <label for="noun3">Noun: </label>
            <input type="text" name="noun3" id="noun3" required />
          </div>
          <div>
            <label for="pastTenseVerb1">Past Tense Verb: </label>
            <input
              type="text"
              name="pastTenseVerb1"
              id="pastTenseVerb1"
              required
            />
          </div>
          <div>
            <label for="songName">Song Name: </label>
            <input type="text" name="songName" id="songName" required />
          </div>
          <div>
            <label for="adjective2">Adjective: </label>
            <input type="text" name="adjective2" id="adjective2" required />
          </div>
          <div>
            <label for="personsName4">Person's name: </label>
            <input type="text" name="personsName4" id="personsName4" required />
          </div>
          <div>
            <label for="adjective3">Adjective: </label>
            <input type="text" name="adjective3" id="adjective3" required />
          </div>
          <!-- Fill in the blanks... -->
          <div>
            <input type="submit" value="&gt; Go Mad" />
          </div>
        </form>
      </section>
    </main>
    <footer>
      <span> &lt;/&gt; with &lt;3 by </span>
      <span>
        <a href="https://github.com/Emimint" target="_blank">Emimint</a>,
        <a href="https://github.com/emilio12345" target="_blank">emilio12345</a
        >, <a href="https://github.com/PaulaR-05" target="_blank">PaulaR-05</a>,
        <a href="https://github.com/mnichols08" target="_blank">mnichols08</a>,
        <a href="https://github.com/Nazile-Tag" target="_blank">Nazile-Tag</a>
      </span>
      <hr />
      <span> &copy; 2023 </span
      ><span
        >Inspired by <a href="https://www.chingu.io" target="_blank">Chingu</a>.
        Built for Voyage 43.<a
          href="https://github.com/chingu-voyages/v43-tier1-team-09"
          target="_blank"
          >We are Team 09</a
        ></span
      >
    </footer>
  </body>
</html>
