<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mad Libs Word Game - Chingu Voyage 43 - Group 9</title>
    <link rel="stylesheet" href="storymobile.css" />
    <link rel="stylesheet" href="print.css" media="print" />
  </head>
  <body>
    <header>
      <h1>Mad Libs</h1>
    </header>
    <main>
      <section>
        <h2>Birthday Party Fun 🎂</h2>
        <p>
          Yesterday I went to <span>{personsName}</span>'s birthday party. I got
          him/her a <span>{noun}</span>. The party was
          <span>{adjective}</span>. We started by playing
          <span>{activity}</span> and then there was a
          <span>{verb}</span> party. Lots of my friends were there but I mostly
          hung out with <span>{personsName}</span>. We talked about
          <span>{noun}</span>, and how our friend
          <span>{personsName}</span> is a <span>{noun3}</span>. During cake
          everyone <span>{pastTenseVerb}</span> and sang
          <span>{songName}</span>. I had a/an <span>{adjective}</span> time at the party and
          enjoyed celebrating <span>{personsName}</span>. He/she is such a
          <span>{adjective}</span> friend.
        </p>
        <input
          type="button"
          class="btn_Print"
          value="PRINT"
          onClick="window.print()"
        />
      </section>
    </main>
    <footer>
      <span> &lt;/&gt; with &lt;3 by </span>
      <span class="author">
        <a href="https://github.com/Emimint" target="_blank">Emimint,</a>
        <a href="https://github.com/emilio12345" target="_blank"
          >emilio12345,</a
        >
        <a href="https://github.com/PaulaR-05" target="_blank">PaulaR-05,</a>
        <a href="https://github.com/mnichols08" target="_blank">mnichols08,</a>
        <a href="https://github.com/Nazile-Tag" target="_blank">Nazile-Tag,</a>
      </span>
      <hr />
      <span> &copy; 2023 </span
      ><span
        >Inspired by <a href="https://www.chingu.io" target="_blank">Chingu</a>.
        Built for Voyage 43.<a
          href="https://github.com/chingu-voyages/v43-tier1-team-09"
          target="_blank"
          >We are Team 09</a
        >
      </span>
    </footer>
    <script src="app.js"></script>
  </body>
</html>
