*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: #955aff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}

.header {
  background-image: url(./Images/Doodle\ Dots.png);
  background-repeat: no-repeat;
  background-size: 10em;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  margin: 0 auto;
  font-size: 3em;
  font-weight: 900;
  color: white;
}
.header p {
  margin: 0 auto;
  font-size: 2.5em;
  font-weight: 900;
  color: #96e6aa;
}
.header p::before {
  content: "";
  padding-left: 2.5em;
  animation: animate infinite 10s;
}

.header span {
  color: #ffd000;
  font-weight: bolder;
}
.header__logo {
  padding-left: 0.1em;
  width: 5em;
  height: 5em;
}
.container__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__card--information {
  max-width: 15em;
  margin: 1em;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}
.container__card--information img {
  width: 10em;
  margin: 0 auto;
  transition: 1s ease;
}

.container__card--information h2 {
  color: #ffffff;
  font-size: 1.5em;
}

.container__card--information img:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -xpedu-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
.title {
  color: #ffd000;
  font-weight: 500;
  font-size: 1.1em;
  font-style: italic;
}

.change {
  padding-top: 8em;
}

footer {
  background: linear-gradient(45deg, #0054676e, #c6b058);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .heart {
  background: url(./Images/heart.png);
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0.6em;
  cursor: pointer;
}

@keyframes animate {
  0% {
    content: "[Hello World]";
  }

  25% {
    content: "[Bonjour le monde]";
  }

  50% {
    content: "[Hola Mundo]";
  }

  75% {
    content: "[Selam Dünya]";
  }

  100% {
    content: "[Olá Mundo]";
  }
}
