*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
/*  box-sizing: border-box;*/
}

html {
    // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px;
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  
  @include respond(tab-port) {
    padding: 0;
  }
}
