// header styles
header {
  position: relative;
  top: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 34px;
  color: $color-secondary;
  @media screen and (max-width: 500px){
    font-size: 5vw;
  }
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;

  &.SelectPage {
    & h1 {
      transition: all 0.3s;
      font-size: 1em;
      z-index: 1;
    }
    & .world {
      transition: all 0.3s;
      zoom: 0.5;
    }
  }
  &.StoryPage {
    @extend .SelectPage
  }
}
