@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");

body {
    font-family: "Baloo Thambi 2", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
}
.heading{
  &-primary {
    color: $color-secondary;
    text-transform: uppercase;
    text-shadow: 0 0 3em lighten($color-yellow, 15%);
    line-height: 0;
    @include backface-visibility;
    
  
    &--main {
      display: block;
      font-size: 6rem;
      -webkit-text-stroke: 1px $color-black;
      font-weight: 400;
      letter-spacing: 3;
      line-height:5rem;
      animation: moveInRight 1.5s ease-out;
      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
      /*
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay:3s;
    animation-iteration-count:3;
    */
    }
  
    &--sub {
      padding:2em;
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: .5rem;
      animation: moveInLeft 1.5s ease-out;
      text-shadow: 0 0 1rem $color-black;
      @include respond(phone) {
        letter-spacing: .5rem;
      }
    }
  
  } // primary

  &-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: 2px;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
     font-size: 2.5rem; 
    }
    
    &:hover{
      transform: skewY(-2deg) skewX(-15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }
    @include transition
  } // secondary

  &-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }
} // heading
  .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }